header h3 {
	margin:30px;
  	font-size:30px;
  	color: #000;
  	text-align: center;
  	font-family: sans-serif;
  }

fieldset p input {
	display:block;
  	width:300px;
  	margin:20px auto;
 	padding:15px;
 	background:rgba(0,0,0,0.2);
  	color:#fff;
  	border:0;
  	line-height: 5px;
}

fieldset button {
	background:#FF0033;
  	border:0;
  	color:#fff;
  	padding:10px;
  	font-size:20px;
  	width:300px;
  	margin:20px auto;
  	display:block;
  	cursor:pointer;
}

fieldset button:active {
	background:#000;
}